/* Brand Colors ------------------------------------------------*/

	// $color1: #e21a22;
	// $font-color: #6a6a6b;
	// $color2: #272727;

	// $placeholder: $color2;

	// $base-font-weight: 300;
	// $brand-font-1: '',sans-serif;
	// $brand-font-2: '',sans-serif;

	//font
	$fontFam:'Raleway', sans-serif;




	//color
	$mainColor: #f9f6d6;
	$headColor: #0c0105;
	$burg_Color:#f3eebd;
	$rhombusColor:#f9f6d6;
	$bannerFont_color:#f6f1bf;
	$bannerForm_color:RGBA(255,224,146,0.83);
	$bannerForm_text_color: #2e1810;
	$bannerFormButton_color: #84bdd1;
	$placeholderText_color:#1a0f04;
	$placeholderTextDiscount_color:#666663;
	$placeholderTakePart_color:#7b7878;
	$buttonBanner_color:#fffffc;
	$buttonDiscount_color:#00a9da;
	$buttonDiscount_text_color:#fefefb;
	$buttonTakePart_color:#ededed;
	$discoutForm_back_color:RGBA(215,142,63,0.83);//#d78e3f
	$headingAdv_heading_color: #626262;
	$headingAdv_text_color: #636259;
	$headingOffice_color: #f8f5d6;
	$textOffice_color: #fcfcf8;
	$textFormDiscount:#fcfcf9;
	$statisticValue_color:#f6f3d5;
	$counter1_color:RGBA(219,128,29,0.85);//#db801d;
	$counter2_color:RGBA(95,29,31,0.85);//#5f1d1f;
	$counter3_color:RGBA(172,200,212,0.85);//#acc8d4;
	$counter4_color:RGBA(169,134,180,0.85);//#a986b4;
	$takePart_form_font_color:RGBA(150,192,210,0.94);//#96c0d2;
	$takePart_slogan_font_color:#9dc1d1; 
	$takePart_form_button_color:#c11b35;
	$takePart_text_color:#fdf8f8;
	$location_frame_color:RGBA(234,97,23,0.43);//#ea6117
	$footerText_color:#f1e9b9;