.statistics{
	display: block;
	margin-bottom: 4.8rem;
}
.statistics_container{
	max-width: 114rem;
	border-top: 2px solid #5a181c;
	border-bottom: 2px solid #5a181c;
	padding: 4rem 0;
	margin: 0 auto 10.5rem;
	box-sizing: border-box;
	.counters{
		display: flex;
		flex-direction: row;
		max-width: 112.4rem;
		background-image: url('../images/statistics_banner.png');
		background-size: cover;
		margin: 0 auto;
	}
}
.same_prop{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 0 0;
	width: 25%;
}
.counter1{
	background: linear-gradient( to top ,$counter1_color, RGBA(248,245,242,0));
}
.counter2{
	background: linear-gradient( to top ,$counter2_color, RGBA(248,245,242,0));
}
.counter3{
	background: linear-gradient( to top ,$counter3_color, RGBA(248,245,242,0));
}
.counter4{
	background: linear-gradient( to top ,$counter4_color, RGBA(248,245,242,0));
}


.stat_values{
	width: 18.1rem;
	height: 9.7rem;
	margin-bottom: 2.7rem;
	text-align: center;
	padding-top: 1rem;
	@include fontInfo(5.6rem, 800, $statisticValue_color);
}
.stat1_values_back{
	background-color:$counter1_color;
	position: relative;
	&::after{
		content:'sq.ft';
		@include fontInfo(2.4rem, 800, $statisticValue_color);
		position: absolute;
		bottom: 0.5rem;
		right: 2rem;
	}
}
.stat2_values_back{
	background-color:$counter2_color ;
}
.stat3_values_back{
	background-color:$counter3_color ;
}
.stat4_values_back{
	background-color:$counter4_color ;
}











.heading_statistic{
	@include heading (18.4rem, 6.5rem, 0.5rem,$rhombusColor,2.9rem,700,$rhombusColor);
	margin-bottom: 3.1rem;
	text-transform: lowercase;
}
.heading_statistic::before{
	content:'';
	width: 4.6rem;
	height: 2px ;
	background-color:$rhombusColor;
	position: absolute;
	left:-3rem;
	top:2.8rem;
}
.heading_statistic::after{
	content:'';
	width: 4.6rem;
	height: 2px ;
	background-color:$rhombusColor;
	position: absolute;
	right: -3rem;
	top:2.8rem;
}